//colors
$blaze: rgb(255, 82, 20);
$milk:#fff;
$dark:rgb(5, 3, 5);
$twilight:#777;
$ash:#dfd9d9;
$dull: #eee;
$cold: #333;
$aqua: rgb(177, 230, 230);



//grid
$gridwidth: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal:4rem;
$gutter-horizontal-small:2rem;


//font
$primefont: 1.6rem;

//boxshadow
$darkshadow: rgba($dark, .15);
