.hire {
    margin: 0 auto;
    background-color: $ash;
    padding: 3rem 20rem;

    &__btn {
        text-align: center;
    }

    &__link {
        &,
        &:link,
        &:visited {
            color: $milk;
            text-decoration: none;
            background-color: $blaze;
            padding: 1rem;
            border-radius: .2rem;
            transition: .2s all;
            margin-right: 2rem;
            text-transform: uppercase;
            font-size: 1.3rem;
        }

        &:hover,
        &:focus {
            box-shadow: .5rem 2rem 1rem $darkshadow;
            transform: translateY(1.5rem);
        }
    }
}