.service {
    margin: 0 -3rem;
    background-color: $ash;
    padding: 3rem 20rem;
    text-align: center;

    @include respond(tab-port) {
        padding: 3rem 10rem;
    }

    @include respond(phone) {
        padding: 3rem 5rem;
    }

    &__box {
        background-color: $milk;
        border: .2rem solid $aqua;
        padding: 5rem 2rem;

        
    }

    &__para {
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 2rem;

        @include respond(phone) {
            font-size: 2.5rem;
            font-weight: 400;
            line-break: 2.5rem;
        }
    }
}